.buttons{
    text-align: center;
    margin:auto;
}
.mat-raised-button{
    background-color:rgb(241, 107, 28);
    color:white;
} 
a{
    color:rgb(241, 107, 28);
}
.center{
    text-align: center;
    margin:auto;
}
.login{
    margin-left:170px;
    margin-right:140px;
}
.title{
    background-color:rgb(241, 107, 28);
    color:white;
    border-radius: 10px;
}
